body {
  background-color: khaki;
}
#container {
  margin: auto;
  border-radius: 20%;
  border-width: 5px;
  border-style: ridge;
  width: 30%;
}
#container h2 {
  text-align: center;
}
#container ul {
  list-style: none;
  text-align: center;
}
/* #container li {
  text-align: center;
} */
